@use '../utils/' as *;


.NavBar {
    position: fixed;

    display: flex;
    align-items: center;

    width: 100%;
    max-width: 720px;
    height: $navbar-heigh;

    background-color: $clr-primary;

    p {
        width: 100%;

        color: white;
        text-align: center;
        font-size: clamp(1.5rem, 2vw, 2rem);
        font-weight: 700;
    }
}