@use '../utils/' as *;

.current-capacity {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100vh;
    padding: 1.5rem;
    padding-top: $navbar-heigh + 3vh;


    @include mediaquery(intermediate) {
        justify-content: center;
        width: 720px;
        height: 100%;
        margin-top: unset;
    }

    form {
        display: flex;
        flex-direction: column;

        width: 100%;

        @include mediaquery(intermediate) {
            display: flex;
            justify-content: space-between;

            width: 60%;
            height: 100%;
            padding: 1.5rem;
            border-radius: 5px;
            border: 1px solid $clr-primary;
        }
    }
}