@use '../utils/' as *;


.home {
    width: 100%;
    height: 100vh;
    padding-top: $navbar-heigh;

    &__item {
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 1.5rem;
        border-bottom: 1px solid $clr-primary;

        font-size: 1.5rem;
        font-weight: 400;
        color: $clr-primary;
        text-decoration: none;

        svg  {
            margin: 0;
        }
    }
}

