$clr-primary: hsl(102, 38%, 39%);
$clr-secondary: hsl(218, 25%, 58%);


// Map breakpoints for media queries
$breakpoints: (
    small: 320px,
    standar: 375px,
    intermediate: 688px,
    medium: 1024px,
    large: 1280px,
    xlarge: 1366px
);


$navbar-heigh: 7vh;